.footer{
    background:$graphite;
    padding:rem-calc(65 0);
    position: relative;
    z-index: 2;

    @include breakpoint(small down){
        padding:rem-calc(40 0);
    }

    .inner-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include breakpoint(small down){
            flex-wrap: wrap;
        }

        &__left{
            @include breakpoint(small down){
                margin-bottom: rem-calc(30);
            }
        }

        &__right{
            text-align: right;

            @include breakpoint(small down){
                margin-left: auto;
            }

            h4{
                font-size: $footer-heading;
                font-family: 'gilroy-light';
                color:$secondary;
            }

            p{
                font-size:$footer-paragraph;

                @include breakpoint(small down){

                    br{
                        display: none;
                    }
                }
            }
        }
    }
}
