// variables
$primary: #202123;
$secondary:#00A5FF;
$graphite:#2A2B2E;

$h2: rem-calc(36);
$body-paragraph: rem-calc(24);
$main-menu-font: rem-calc(20);
$section-paragraph: rem-calc(18);
$footer-heading: rem-calc(16);
$footer-paragraph: rem-calc(16);

$section-mb: rem-calc(200);

body{
    background-color: $primary;
    color:$white;
    font-family: 'gilroy-light';
    font-size: $body-paragraph;

    @include breakpoint(medium down){
        font-size:$main-menu-font;
    }
}
.info-top-bar{
    background:$graphite;
    text-align: center;
    padding:rem-calc(10 0);

    p{
        font-size: $main-menu-font;
        font-family: 'gilroy-medium';
        margin:0;
    }
}
.grid-container{
    max-width:rem-calc(1485);
}
h1, h2, h3, h4, h5, h6, p, img{
    position: relative;
}
h2{
    font-size: $h2;
    text-transform: uppercase;
    color:$secondary;
    font-weight: bold;
    font-family: 'gilroy-bold';
}
.glow-button{
    font-family: 'gilroy-bold';
    color: $white;
    background:$secondary;
    font-size: $section-paragraph;
    padding:rem-calc(20 47);
    box-shadow:0px 2px 17px 1px #00a5ff;
    border-radius: 0;
    transition: all .2s ease-in-out;

    @include breakpoint(small down){
        font-size:$footer-heading;
        padding:rem-calc(15 35);
    }

    &:hover{
        box-shadow:0px 2px 21px 1px #00a5ff;
        background:darken($secondary,5%);
        border-radius:3px;
    }
}
.bg-images{
    position: relative;
    z-index: -1;
        img{
        transform:translate(-50%,-50%);
        position: absolute;
        z-index: 1;
    }
}
