.header{
    position: relative;
    z-index: 10;

    .ham-menu{
        width: rem-calc(64);
        cursor: pointer;
        padding:rem-calc(7);

        span{
            display: block;
            width: 100%;
            position: relative;
            height: rem-calc(2);
            background:$white;
            margin:rem-calc(10 0);
            transition: all .3s ease-in-out;
        }

        span:nth-child(1){
            margin-top:0;
        }

        span:nth-child(3){
            margin-bottom:0;
            width: 60%;
            margin-left: auto;
        }

        &:hover{


            span:nth-child(1),span:nth-child(2){
                width: 60%;
            }

            span:nth-child(3){
                width: 100%;
            }
        }
    }

    .dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a:after{
        content: none;
    }

    .top-bar, .top-bar ul, .top-bar-left .menu a{
        background-color: transparent;
        padding:0;
    }

    .top-bar ul ul{
        background-color:rgba(0,0,0,0.4);
        box-shadow: 0 0 14px 6px rgba(0,0,0,.3);

        @include breakpoint(large down){
            background-color:rgba(0,0,0,0.8);
        }
    }

    .top-bar-right .menu .menu-item .menu .menu-item a{
        font-size: $footer-heading;
    }

    .top-bar{
        padding: rem-calc(30 0);
    }

    .top-bar-left, .top-bar-right, .top-bar-title{

        @include breakpoint(small down){
            flex:0 0 auto;
        }
    }

    .top-bar-left .menu a{

        @include breakpoint(small down){
            width: 33vw;
        }

        @include breakpoint(rem-calc(480) down){
            flex:0 0 auto;
        }
    }

    .top-bar-right{

        .menu{

            .menu-item{

                a{
                    color: $white;
                    text-transform: uppercase;
                    font-size: $main-menu-font;
                    font-family: 'gilroy-medium';
                    background-color: transparent;
                    padding:rem-calc(10 15);
                    padding-right: rem-calc(15);
                    transition: all .2s ease-in-out;

                    &::after{
                        content: none;
                    }

                    &:hover{
                        color: $secondary;
                    }
                }
            }
        }

        >.menu{

            >.menu-item{
                margin-left:rem-calc(25);
                margin-right:rem-calc(25);

                @include breakpoint(large down){
                    margin-left:rem-calc(5);
                    margin-right:rem-calc(5);
                }

                &:first-child{
                    margin-left:0;
                }

                &:last-child{
                    margin-right:rem-calc(-15);
                }
            }
        }
    }
}
