.home-slider{
    padding-top: rem-calc(60);
    padding-bottom: rem-calc(90);
    transform:translateX(-140px);
    position: relative;
    z-index: 3;

    .swiper-container{
        overflow:visible;

        .swiper-slide{

            &[data-swiper-slide-index="1"],
            &[data-swiper-slide-index="4"],
            &[data-swiper-slide-index="7"]{
                transform:translateY(74px);
            }

            &[data-swiper-slide-index="2"],
            &[data-swiper-slide-index="5"],
            &[data-swiper-slide-index="8"]{
                transform:translateY(37px);
            }
        }
    }
}

.swiper-slide__container{
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.swiper-slide__front,
.swiper-slide__back{
    background: $primary;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    min-height: 280px;
    height: auto;
    color: #fff;
    font-size: 1.5rem;
}

.swiper-slide__back{
    background: $primary;
    background: -webkit-linear-gradient(45deg,  $primary 0%, $secondary 100%);
    background: -o-linear-gradient(45deg,  $primary 0%, $secondary 100%);
    background: linear-gradient(45deg,  $primary 0%, $secondary 100%);
}

.swiper-slide__container:hover .swiper-slide__front,
.swiper-slide__container:hover .swiper-slide__back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.swiper-slide__back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(1);
    transform: translateY(-50%) translateZ(60px) scale(1);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
}

.swiper-slide__container .swiper-slide__back{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.swiper-slide__container .swiper-slide__front{
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.swiper-slide__container:hover .swiper-slide__back{
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.swiper-slide__container:hover .swiper-slide__front{
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
