.home-hero{
    margin-top:rem-calc(80);
    margin-bottom: rem-calc(180);
    position: relative;

    @include breakpoint(small down){
        margin-bottom: rem-calc(120);
    }

    .bg-images{

        .rellax:first-child img{
            top:25vw;
            left:50%;

            @include breakpoint(rem-calc(375) down){
                max-width:rem-calc(500);
            }
        }

        .rellax:nth-child(2) img{
            top:-10vw;
            right:-96%;

            @include breakpoint(rem-calc(375) down){
                top:-50vw;
            }
        }

        .rellax:nth-child(3) img{
            top:1vw;
            max-width:rem-calc(2061);
            left: 52%;

            @include breakpoint(medium down){
                max-width:rem-calc(1050);
            }

            @include breakpoint(rem-calc(375) down){
                max-width:rem-calc(500);
                top:-4vw;
            }
        }

        .rellax:nth-child(4) img{
            top:14vw;
            left: 51%;

            @include breakpoint(small down){
                top:28vw;
            }

            @include breakpoint(rem-calc(375) down){
                top:12vw;
            }
        }
    }

    &__text{
        position: relative;
        z-index: 2;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        margin-right: rem-calc(50);

        @include breakpoint(small down){
            padding-bottom: rem-calc(50);
            margin-right: 0;
        }

        h1{
            font-family: 'gilroy-bold';
            font-size:$h2;
            color:$secondary;
            font-weight: bold;
            margin-bottom:rem-calc(60);

            @include breakpoint(small down){
                margin-bottom:rem-calc(40);
            }
        }

        p{
            margin-bottom:rem-calc(90);
            @include breakpoint(small down){
                margin-bottom:rem-calc(60);
            }
        }
        a{
            margin: 0;
        }
    }

    &__img{
        position: relative;
        z-index: 2;
        box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.3);
    }
}
