.home-half-half{
    margin-bottom: $section-mb;

    @include breakpoint(small down){
        margin-bottom:rem-calc(120);
    }

    &__heading{
        text-align: center;
        margin-bottom:rem-calc(40);
        position: relative;
        z-index:2;
    }

    &__main{
        max-width:rem-calc(1230);
        margin:auto;
    }

    &__card{
        position: relative;
        z-index: 5;
        background:$graphite;
        padding:rem-calc(30 20);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.3);

        @include breakpoint(small down){
            margin-bottom: rem-calc(40);
        }
    }

    &__img{
        margin-bottom: rem-calc(35);
        position: relative;
    }

    &__text{

        h3{
            font-size: $body-paragraph;
            font-family: 'gilroy-medium';
            margin: 0 4.5vw;
            margin-bottom: rem-calc(20);
        }

        p{
            font-size: $section-paragraph;
        }

        a{
            margin-top:rem-calc(40);
        }
    }

    .cell:last-child{

        .home-half-half__text{

            h3{
                margin: auto;
                margin-bottom: rem-calc(20);
            }

            a{
                margin-top:rem-calc(55);
                margin-bottom:rem-calc(65);

                @include breakpoint(small down){
                    margin-bottom: rem-calc(16);
                }
            }
        }
    }
}
