.home-overlap{
    margin-bottom:$section-mb;
    position: relative;

    @include breakpoint(small down){
        margin-bottom:rem-calc(120);
    }

    @include breakpoint(rem-calc(576) down){
        margin-bottom:rem-calc(75);
    }

    .bg-images{

        .rellax:first-child img{
            top:33vw;
            left:20%;
        }

        .rellax:nth-child(2) img{
            top:30vw;
            left: 80%;
        }
    }

    &__container{
        position: relative;
        padding-top: rem-calc(87);
        position: relative;
        z-index: 5;

        @include breakpoint(small down){
            padding-top: 0;
        }
    }

    &__text{
        box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.3);
        position: relative;
        max-width: rem-calc(860);
        background: $graphite;
        justify-content: space-between;
        padding: rem-calc(110 80 140 65);
        z-index:3;

        @include breakpoint(medium down){
            width: 90%;
            margin-left: rem-calc(20);
        }

        @include breakpoint(small down){
            padding: rem-calc(75 42 95 42);
        }

        @include breakpoint(rem-calc(640) down){
            width: 95%;
            margin-left: 0;
            margin:auto;
        }

        @include breakpoint(rem-calc(375) down){
            padding: rem-calc(60 20 75 20);
        }

        h2{
            margin-bottom: rem-calc(65);

            @include breakpoint(small down){
                margin-bottom: rem-calc(40);
            }
        }

        p{
            font-size: $section-paragraph;
        }
    }

    &__img{
        box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.3);
        position: absolute;
        right: 0;
        top: -15vw;
        z-index:2;

        @include breakpoint(rem-calc(576) down){
            position: relative;
            top:rem-calc(-50);
        }
    }
}
