.home-middle{
    margin-top:rem-calc(160);
    margin-bottom:rem-calc(260);
    position: relative;

    @include breakpoint(small down){
        margin-top:rem-calc(100);
        margin-bottom: rem-calc(120);
    }

    .bg-images{

        img{
            top:120%;
            left:-20%;
        }
    }

    &__text{
        max-width: rem-calc(1030);
        margin: auto;
        position: relative;
        z-index: 5;
    }

    p:first-child{
        margin-bottom:rem-calc(70);
    }
}
