.home-bottom-text{
    margin-bottom:$section-mb;
    position: relative;

    @include breakpoint(small down){
        margin-bottom:rem-calc(120);
    }

    .bg-images{

        .rellax{
            position: absolute;
        }

        img{
            position: relative;
            transform:translate(0,0);
        }

        >div:nth-child(1){
            position: absolute;
            margin-top:rem-calc(-230);

            @include breakpoint(medium down){
                margin-top:rem-calc(100);
            }

            @include breakpoint(rem-calc(380) down){
                margin-top:rem-calc(280);
            }
        }

        .rellax:nth-child(2){
            margin-top:rem-calc(-450);
            margin-left:40vw;
            width: rem-calc(1920);

            img{
                max-width: unset;
            }

            @include breakpoint(large down){
                width:rem-calc(600);
                margin-top:rem-calc(-800);

                img{
                    max-width: 100%;
                }
            }

            @include breakpoint(rem-calc(768) down){
                margin-top:rem-calc(100);
            }

            @include breakpoint(rem-calc(380) down){
                margin-left:30vw;
            }
        }

        .rellax:nth-child(3){
            margin-top:rem-calc(-200);
            margin-left: rem-calc(0);
            max-width:rem-calc(2061);

            @include breakpoint(medium down){
                max-width:rem-calc(1050);
                margin-top:rem-calc(350);
            }

            @include breakpoint(rem-calc(768) down){
                margin-top:rem-calc(100);
            }

            @include breakpoint(rem-calc(380) down){
                margin-top:rem-calc(320);
            }
        }
    }

    &__main{
        max-width: rem-calc(1000);
        margin:auto;
        text-align: center;
    }

    p{
        &:first-child{
            margin-bottom: rem-calc(75);
        }

        &:last-child{
            color:$secondary;
            font-size: $section-paragraph;
            font-family: 'gilroy-bold';
        }
    }
}
