.off-canvas{
    width: 70vw;
    transform: translateX(70vw);
    background: #141517;
    overflow-x: hidden;
    transition: transform .8s ease-in-out;

    &.is-open{
        transform: translate(0);
    }

    &.is-closed{
        visibility: visible;
    }

    @include breakpoint(rem-calc(640) down){
        width: 100%;
        transform: translateX(100%);
    }

    img{
        position: absolute;
        top:10%;
        left: 95%;
        transform:translate(-50%,-50%);
        max-width: rem-calc(1500);
        z-index: -1;
        animation: pulse 10s infinite alternate;
    }

    @keyframes pulse {
        0%   {
            top:10%;
            left: 95%;
        }
        50%  {
            top:25%;
            left:80%;
        }
        100% {
            top:10%;
            left:95%;
        }
    }

    >.menu{
        margin-top: rem-calc(20);
        margin-left: rem-calc(15);
        align-items: flex-start;
        position: relative;
        z-index:1;

        a{
            color: $white;
            font-size: $body-paragraph;
            font-family: 'gilroy-bold';
            text-transform: uppercase;
            display: inline-block;
            transition: color .2s ease-in-out;

            @include breakpoint(rem-calc(640) down){
                font-size: rem-calc(22);
            }

            &:hover{
                color: $secondary;
            }
        }

        li{
            width: auto;

            ul{
                margin-left: rem-calc(20);
                padding-top:rem-calc(30);

                li{

                    a{
                        font-size: $main-menu-font;
                        font-family: 'gilroy-medium';
                        text-transform: none;

                        @include breakpoint(rem-calc(640) down){
                            font-size:$section-paragraph;
                        }
                    }
                }
            }
        }

        .submenu{

            &::after{
                content:'';
                position: absolute;
                left: rem-calc(16);
                top: 0;
                display: block;
                width: rem-calc(2);
                height: rem-calc(25);
                background: $secondary;
            }
        }
    }

    .close-button{
        color: $white;
        transition: color .2s ease-in-out;
        font-size: 3em;
        z-index: 2;
        top:.8rem;
        outline: none;

        span{
            outline: none;
        }

        &:hover{
            color: $secondary;
        }
    }

    .accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle)>a:after{
        content: none;
    }
}
