@font-face {
    font-family: 'gilroy-light';
    src: url('../fonts/gilroy-light-webfont.eot');
    src: url('../fonts/gilroy-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroy-light-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-light-webfont.woff') format('woff'),
         url('../fonts/gilroy-light-webfont.ttf') format('truetype'),
         url('../fonts/gilroy-light-webfont.svg#gilroy-lightuploaded_file') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gilroy-medium';
    src: url('../fonts/gilroy-medium-webfont.eot');
    src: url('../fonts/gilroy-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroy-medium-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-medium-webfont.woff') format('woff'),
         url('../fonts/gilroy-medium-webfont.ttf') format('truetype'),
         url('../fonts/gilroy-medium-webfont.svg#gilroy-mediumuploaded_file') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gilroy-bold';
    src: url('../fonts/gilroy-bold-webfont.eot');
    src: url('../fonts/gilroy-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroy-bold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-bold-webfont.woff') format('woff'),
         url('../fonts/gilroy-bold-webfont.ttf') format('truetype'),
         url('../fonts/gilroy-bold-webfont.svg#gilroy-bolduploaded_file') format('svg');
    font-weight: normal;
    font-style: normal;

}
